{%extends 'base.html' %}

{%block content%}


{%if page == 'login' %}
<div class="container">
    <form action="" method="POST" class="form-group p-5 m-5 border rounded">
        {%csrf_token%}
        <div class="mb-3 text-center fs-1">Login</div>
        <div class="mb-3">
            <label for="">Enter Username</label>
            <input class='form-control' type="text" name="username">
        </div>
        <div class="mb-3">
            <label for="">Enter Password</label>
            <input class='form-control' type="password" name="password">
        </div>
        <div class="mb-3">
            <p>Dont have an account? <a href="{%url 'register' %}">Register</a></p>
        </div>
        <div class="mt-3">
            <input class='btn btn-primary' type="submit">
        </div>
    </form>
</div>


{%else%}
{% load crispy_forms_tags %}
<div class="container">
    <form action="" method="POST" class="form-group p-5 m-5 border rounded">
        {%csrf_token%}
        <div class="mb-3 text-center fs-1">Register</div>
        {{form | crispy}}
        <p>Already Registered? <a href="{%url 'login' %}">Login</a></p>
        <div class="mt-3">
            <input class='btn btn-primary' type="submit">
        </div>
    </form>
</div>

{%endif%}

{%endblock%}